@import '../../../assets/styles/styles.scss';

.mainPage_stats {
  padding: 0 $windowLeftRightPadding 0 $windowLeftRightPadding;

  .name {
    font-size: $bigTextSize;
    display: flex;
  }

  .statDescription {
    font-size: $smallTextSize;
    margin-top: $smallTextTopMargin;
  }

  .statName {
    font-size: $mediumTextSize;
    margin-top: $mediumTextTopMargin;
  }
}