
$buttonTextSize: 7vw;

$buttonRedColor: red;
$buttonGreenColor: green;

.button {
  background: $buttonGreenColor;
  padding: 0 2vw;
  min-width: 36vw;
  height: 10vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $buttonTextSize;
  cursor: pointer;
}

.button__red {
  background: $buttonRedColor;
}

.button div {
  position: relative;
  top: - $buttonTextSize / 7;
}

.button div:hover {
  top: - $buttonTextSize / 10;
}