// color theme

$playerInfoBackgroundColor: rgba(0,0,0,.6);
$playerInfoWindowColor: black;
$playerInfoFontColor: white;
$playerInfoFontColorActive: green;
$backgroundItemColor: gray;


// general paddings

$windowLeftRightPadding: 3vw;


// font settings

$bigTextSize: 10vw;
$mediumTextSize: 8vw;
$smallTextSize: 5vw;
$verySmallTextSize: 2.5vw;

$smallTextTopMargin: 1.5vw;
$mediumTextTopMargin: 3vw;


// inventory item

$borderSize: 0vw;
$squareSize: 4vw;

$itemSize: 14vw;
$itemMargin: 3vw;
$itemPadding: 2vw;

$borderSizeBig: 2vw;
$squareSize: 4vw;

$itemSizeBig: 40vw;
$itemMarginBig: 0vw;
$itemPaddingBig: 4vw;

